#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.itemuser{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}
.follow-card-btn,.no-follow-card-button{
  border: 1px solid red;
  width: 100px;

}
.follow-card-btn:hover{
  background-color: red;
  color: #fff;
  

}
.no-follow-card-button:hover {
  background-color: black;
  color: #fff;
  width: 100px;
}
.no-follow-card-button:hover .txt-btn {
 display: none;
 transition: 0.2s;
}
.no-follow-card-button:hover .tw-stopfollow {
  display: block;
 }

.names{
  display: flex;
  margin-left: 16px;
flex-direction: column;
justify-content: flex-start;
}
.tw-stopfollow{
  display: none;
}
.itemuser img{
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}
article{
  font-size: .8rem;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
}
.itemuser span{
  opacity: 0.6;
}
.itemuser button{
margin-left: 16px;
background: #fff;
border: 1px solid #000;
}
.txt-btn{
  opacity: 1 !important;
 }